<h1>Kisi Backend Challenge</h1>
<p>Build a background job system to use with Rails based on Google Pub Sub</p>

<%= link_to "Github", "https://github.com/gssankar/kisi_testtask", :target => "_blank" %>


